[Desktop Entry]
Version=1.0
Name=WhatsApp Web
Comment=Open WhatsApp Web in Kiosk Mode
Exec=firefox --kiosk https://web.whatsapp.com
Icon=~/.local/share/icons/whatsapp.svg
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
